body, html {
    height: 100%;
    margin: 0;
}

.background {
    background-image: url("../images/snes-controller-wallpaper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.searchButton {
    background: black;
    color: #a90eac;
    text-align: center;
    border-color: black;
    font-size: 24px;
    font-weight: bold;
    margin-right: 1em;
    font-family: 'Kanit', sans-serif;

}

.submitButton {
    background: #227A7C;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Kanit', sans-serif
}

.gifButton {
    height: 150px;
    width: 200px;
}
